/*Pro všechny*/
@font-face {
  font-family: TF2;
  src: url(../fonts/TF2font.ttf);
}

* {
  box-sizing: border-box;
  user-select: none;
  user-zoom: none;
  margin: 0;
}

body {
  background-image: url(../img/TF2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  border: 3px solid black;
  max-width: 150px;
  width: 100%;
  padding: 10px;
  font-size: 20pt;
  background-color: red;
  text-decoration: none;
  font-family: TF2;
}

/*Start*/
#Start {
  border: 3px solid black;
  max-width: 200px;
  width: 100%;
  padding: 10px;
  font-size: 30pt;
  background-color: red;
  cursor: pointer;
  text-align: center;
  left: 50%;
  right: 50%;
  top: 20%;
  position: fixed;
  margin-left: -100px;
  margin-right: -100px;
}

#Sponsors {
  border: 3px solid black;
  max-width: 220px;
  width: 100%;
  padding: 10px;
  font-size: 30pt;
  background-color: rgb(79, 82, 255);
  background: linear-gradient(
    90deg,
    rgba(79, 82, 255, 1) 0%,
    rgba(9, 13, 125, 1) 50%,
    rgba(79, 82, 255, 1) 100%
  );
  cursor: pointer;
  text-align: center;
  left: 50%;
  right: 50%;
  top: 30%;
  position: fixed;
  margin-left: -110px;
  margin-right: -110px;
}

#Sponsors:hover {
  background-color: rgb(0, 4, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 4, 255, 1) 0%,
    rgba(3, 254, 251, 1) 50%,
    rgba(0, 4, 255, 1) 100%
  );
}

#backSponsors {
  display: none;
  float: right;
  cursor: pointer;
}

#Sazka,
#MineBlock,
#Yasuo,
#Payday,
#Cat,
#Roguelike {
  width: 250px;
  padding: 20px;
  display: none;
  color: black;
  border: 3px solid black;
  font-size: 20pt;
  text-align: center;
}

#hry{
  font-size: 30pt;
  color: red;
  font-family: TF2;
  position: fixed;
  left: 50%;
  right: 50%;
  max-width: 600px;
  width: 100%;
  margin-left: -300px;
  margin-right: -300px;
  margin-top: 50px;
  text-align: center;
  display: none;
}

#carska{
  font-size: 20pt;
  text-align: center;
  color: yellow;
  position: fixed;
  left: 28.6%;
  top: 20%;
  font-weight: bolder;
  display: none;
}

#Sazka {
  background: url(../img/zaseSazka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 150px;
  width: 300px;
}

#adamek{
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: green;
  position: fixed;
  left: 30%;
  top: 45%;
  display: none;
}

#MineBlock {
  background: url(../img/zaseMineblock.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 150px;
}

#kostecky{
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: rgb(3, 140, 252);
  position: fixed;
  left: 30%;
  top: 70%;
  display: none;
}

#Yasuo {
  background: url(../img/zaseYasuo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 150px;
}

#ondra{
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: blue;
  position: fixed;
  right: 29.2%;
  top: 20%;
  display: none;
}

#Payday {
  background: url(../img/zasePayday.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 43%;
  height: 150px;
  width: 280px;
}

#filip{
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: chocolate;
  position: fixed;
  right: 30%;
  top: 45%;
  display: none;
}

#Cat {
  background: url(../img/zaseCatfight.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 150px;
  border: 0px solid black;
}

#dan{
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: brown;
  position: fixed;
  right: 30%;
  top: 70%;
  display: none;
}

#Roguelike {
  background-color: brown;
}

#Roguelike:hover {
  background-color: crimson;
}

/*Spawn*/
#spySpawn {
  max-width: 250px;
  max-height: 635px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -125px;
  margin-right: -125px;
  margin-top: 100px;
  display: none;
  pointer-events: none;
}

#shop {
  float: right;
  display: none;
  cursor: pointer;
}

#battle {
  float: left;
  display: none;
  max-width: 250px;
  cursor: pointer;
}

#killCounter {
  font-size: 25pt;
  top: 80px;
  position: fixed;
  display: none;
  font-family: TF2;
  color: white;
}

#debug {
  max-width: 250px;
  background-color: rgb(61, 75, 55);
  background: linear-gradient(
    90deg,
    rgba(61, 75, 55, 1) 0%,
    rgba(0, 255, 38, 1) 50%,
    rgba(61, 75, 55, 1) 100%
  );
  display: none;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -125px;
  margin-right: -125px;
  cursor: pointer;
}

#debug:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 255, 38, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

#musicSpawn,
#muteSpawn {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  display: block;
  bottom: 0px;
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*battlefield*/
#Enemy {
  max-height: 499px;
  height: 100%;
  font-size: 20pt;
  text-align: center;
  pointer-events: none;
  display: none;
  display: flex;
  margin: 0 auto;
}

#heavy {
  transition: 0.2s;
}

#spy {
  max-height: 508px;
  height: 100%;
  pointer-events: none;
  display: none;
}

#Boss1 {
  text-align: center;
  margin: 0 auto;
  display: none;
  margin-top: -180px;
}

#bossImage {
  max-width: 287.5px;
  max-height: 672px;
  height: 100%;
  pointer-events: none;
  display: flex;
  transition: 0.2s;
}

#hpCounterSpy,
#hpCounterEnemy,
#hpCounterBoss1 {
  font-size: 20pt;
  text-align: center;
  border: 3px solid black;
  background-color: greenyellow;
  padding: 10px;
  font-family: TF2;
}

#SpyShoot {
  max-height: 508px;
  height: 100%;
  font-size: 20pt;
  text-align: center;
  pointer-events: none;
  display: none;
}

#characters {
  display: flex;
  margin: 0 auto;
  display: none;
  margin-top: 300px;
  margin-left: 23%;
}

a {
  text-decoration: none;
  color: inherit;
  display: none;
}

#back {
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  text-align: center;
  float: right;
  max-width: 150px;
  width: 100%;
  padding: 10px;
  font-size: 20pt;
  text-decoration: none;
  display: none;
  cursor: pointer;
}

#shoot,
#cancelShoot {
  position: absolute;
  left: 0px;
  top: 10px;
  max-width: 225.5px;
  width: 100%;
  max-height: 172.5px;
  height: 100%;
  cursor: pointer;
  display: none;
}

/*Shop*/

/*Tlačítka*/
#backShop {
  display: none;
  float: left;
  cursor: pointer;
}

#upgrade {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 58%;
  top: 51%;
  background-color: yellow;
  max-width: 200px;
}

#damageUpgrade {
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0;
  width: 35px;
  position: absolute;
  left: 43.5%;
  top: 20%;
  cursor: pointer;
}

#damageCounter {
  display: none;
  font-size: 20pt;
  color: white;
  font-family: TF2;
  position: absolute;
  top: 40%;
  left: 40%;
}

#hpUpgrade {
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0;
  width: 35px;
  position: absolute;
  left: 63%;
  top: 20%;
  cursor: pointer;
}

#hpCounter {
  display: none;
  font-size: 20pt;
  color: white;
  font-family: TF2;
  position: absolute;
  top: 45%;
  left: 40%;
}

#hokUpgrade {
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  padding: 0;
  width: 35px;
  position: absolute;
  left: 43.5%;
  top: 31%;
  cursor: pointer;
}

#hokCounter {
  display: none;
  font-size: 20pt;
  color: white;
  font-family: TF2;
  position: absolute;
  top: 50%;
  left: 40%;
}

#backUpgrade {
  display: none;
  position: fixed;
  width: 100%;
  left: 70%;
  top: 55%;
  cursor: pointer;
}

/*Vizuály*/
#upgradeList {
  display: none;
  position: fixed;
  width: 60%;
  left: 20%;
  right: 20%;
  pointer-events: none;
}

#spyMoney {
  max-width: 200px;
  max-height: 443.2px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 40%;
  top: 23%;
  right: 50%;
  margin-left: -125px;
  margin-right: -125px;
  margin-top: 100px;
  display: none;
  pointer-events: none;
}

#moneyCounter {
  border: 3px solid black;
  background-color: gold;
  font-size: 20pt;
  max-width: 250px;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  display: none;
  float: right;
  font-family: TF2;
}
